[Unit]
Description=Telepannel Telegram Bot
After=network.target network-online.target
Wants=network-online.target
StartLimitIntervalSec=400
StartLimitBurst=3

[Service]
Type=simple
WorkingDirectory=/opt/telepannel
ExecStart=/opt/telepannel/.venv/bin/python /opt/telepannel/main.py
Restart=on-failure
RestartSec=15
User=root
Group=root
StandardOutput=journal
StandardError=journal
# Hardening
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
