[Unit]
Description=Telepannel Telegram Bot
After=network.target
StartLimitIntervalSec=400
StartLimitBurst=3

[Service]
Type=simple
WorkingDirectory=/opt/telepannel
ExecStart=/opt/telepannel/.venv/bin/python /opt/telepannel/main.py
Restart=on-failure
RestartSec=15
User=telepannel
Group=telepannel
# Hardening
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
